/out-tsc
/node_modules
chrome-profiler-events.json
speed-measure-plugin.json
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
/.vscode
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
.DS_Store
Thumbs.db
